/* You can add global styles to this file, and also import other style files */
/* styles.css */
.highlight {
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
  }

  /* Classe pour rendre le produit rouge */
.red-highlight {
    background-color: red;
    color: white;
  }
  
  /* Classe pour faire clignoter l'élément */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink 1s step-start infinite;
  }
  
  