<div class="container">
    <div class="row">
        <form #f="ngForm">
            <div class="mb-3">
                <label>Title:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="title" 
                    [(ngModel)]="category.title" 
                    #title="ngModel" 
                    required 
                    minlength="3">
                
                <app-validation-messages [control]="title"></app-validation-messages>
            </div>
            
            <div class="mb-3">
                <label>Image:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="image" 
                    [(ngModel)]="category.image" 
                    required 
                    #image="ngModel">
                
                <app-validation-messages [control]="image"></app-validation-messages>
            </div>
            
            <div class="mb-3">
                <label>Description:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="description" 
                    [(ngModel)]="category.description" 
                    required 
                    minlength="10" 
                    #description="ngModel">
                
                <app-validation-messages [control]="description"></app-validation-messages>
            </div>
            
            <div class="mb-3">
                <input 
                    type="submit" 
                    [disabled]="f.invalid" 
                    value="Submit" 
                    class="btn btn-primary" 
                    (click)="add()">
            </div>
        </form>
    </div>
</div>
