<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="text" [(ngModel)]="title" placeholder="Rechercher par titre" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let category of categories | filter: title" style="margin-bottom: 20px;">
            <img [src]="category.image" 
                 [alt]="category.title" 
                 class="img-fluid h-50 w-75" 
                 (click)="showDescription(category.description!)">
            <h3>{{ category.title | uppercase }}</h3>
            <p>{{ category.description ?? 'Aucune description disponible' }}</p>
            <p *ngIf="!category.available" class="text-danger">Catégorie non disponible</p>
        </div>
    </div>
</div>
<p appHighlight>Survolez ce texte pour ajouter une classe CSS.</p>
<button appHighlight>Survolez ce bouton pour ajouter une classe CSS.</button>
